    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-size: 500px;

    }

    h1 {
        text-decoration-thickness: 10px;
        color: #000000;
        text-align: center
    }

    .navbar {
      background-color: #333;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      
    }

    .navbar a {
      color: white;
      text-decoration: none;
      padding: 14px 20px;
      display: block;
    }

    .navbar a:hover {
      background-color: #575757;
    }

    .nav-links {
      display: flex;
      align-items: center;
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 10% 0;
    }

    .review-card {
      background-color: #f5f5f5;
      border-radius: 10px;
      padding: 20px;
      width: 300px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }

    .header-content {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .info h4 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }

    .info p {
      margin: 5px 0 0;
      font-size: 14px;
      font-weight: 400;
      color: #666;
    }

    .single-review p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
      color: #333;
    }

    .review-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      font-size: 14px;
      color: #666;
    }

    .rating {
      display: flex;
    }

    .rating span {
      color: #000;
      font-size: 18px;
    }

    .rating span.active {
      color: #fbc02d;
    }
    
    @media screen and (max-width: 767px) {
      .wrapper {
        flex-direction: column;
        align-items: center;
      }
      .review-card {
        width: 85%;
      }
    }
